## Pass back the result from DynamoDB. **
## $util.toJson($ctx.result)


## Check if the item exists
#if(!$ctx.result)
  $util.error("Event not found", "NotFound")
#end

{
  "id": "$ctx.result.id",
  "userId": $ctx.result.userId,
  "createdAt": "$ctx.result.createdAt",
  "payLoad": $util.toJson($ctx.result.payLoad)
}